
.main-chat
  .main-chat__group-info
    .main-chat__group-info__left-box
      .main-chat__group-info__left-box__current-group
        = @group.name
      .main-chat__group-info__left-box__member-list
        member:
        -@group.users.each do |user|
          =user.name
           
          
    .main-chat__group-info__edit-box
      = link_to  edit_group_path(@group), class: "edit" do
        Edit
  
  .main-chat__message-list
    .main-chat__message-list__message
      = render @messages

  .main-chat__message-form
    .main-chat__message-form__newbox
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'main-chat__message-form__newbox__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'main-chat__message-form__newbox__message__icon'do
            = icon('fas', 'image')
            = f.file_field :image, class: 'main-chat__message-form__newbox__message__icon__icon-box'
        
        = f.submit 'Send', class: 'main-chat__message-form__newbox__btn'
